<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <!-- 映射 接口 IBookDao -->
    <mapper namespace="com.example.demo.mapper.UserMapper">

        <select id="getUserName" resultType="java.lang.String" parameterType="java.lang.Integer">
            select username from User where id=#{id}
        </select>
    </mapper>
